<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lxview">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:resizeableActivity="true"
        android:maxAspectRatio="2.4"
        android:theme="@style/Theme.LxView">

        <meta-data
            android:name="android.max_aspect"
            android:value="2.4" />

        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".lxtools.NormalToolsActivity"/>

        <activity android:name=".home.MainActivity"
            android:launchMode="singleTask">
        </activity>
        <activity android:name=".function.loading.activity.IndicatorActivity" />
        <activity android:name="com.example.lxview.function.myFreeView.ViewGroup.MyViewGroupActivity" />
        <activity android:name="com.example.lxview.function.myFreeView.activity.ExOneActivity" />
        <activity android:name="com.example.lxview.function.myFreeView.activity.SampleActivity" />
        <activity android:name="com.example.lxview.function.listTimestamp.activity.ListTimeActivity" />
        <activity android:name="com.example.lxview.function.timePicker.activity.TimePickerActivity" />
        <activity android:name=".function.home.activity.ShareFunctionActivity" />
        <activity android:name=".base.activity.SampleDialogAndPopActivity" />
        <activity android:name="com.example.lxview.function.jetpack.navigation.MyNavigationActivity" />
        <activity android:name="com.example.lxview.function.jetpack.MyJetPackActivity" />
        <activity android:name="com.example.lxview.function.jetpack.lifecycle.MyLifeCycleActivity" />
        <activity android:name="com.example.lxview.function.jetpack.livedata.MyLivedataActivity" />
        <activity android:name="com.example.lxview.function.ipc.binder.AidlBinderActivity"/>
        <activity android:name="com.example.lxview.function.ipc.messager.client.MessengerActivity"/>
        <activity android:name=".base.activity.BaseDataBindActivity" />
        <activity android:name=".base.activity.BaseBindActivity" />

        <activity android:name=".login.activity.LoginActivity"/>
        <activity android:name=".login.activity.LoginChangePasswordActivity"/>
        <activity android:name=".login.activity.LoginEmailVerifyActivity"/>
        <activity android:name=".login.activity.LoginSetPasswordActivity"/>
        <activity android:name=".login.activity.LoginSettingUserInfoActivity"/>
        <activity android:name=".login.activity.LoginInviteCodeActivity"/>
        <activity android:name=".login.activity.LoginRegisterActivity" />
        <activity android:name=".login.activity.LoginWelcomeBackActivity"/>

<!--        首页-->
        <activity android:name=".lxhome.activity.CardBagActivity"/>


        <service android:name=".RemoteService"
            android:enabled="true"
            android:exported="true"
            android:process=":remote">
        </service>

        <service android:name="com.example.lxview.function.ipc.messager.service.MessengerService"
            android:enabled="true"
            android:exported="true"
            android:process=":remote">
        </service>
    </application>

</manifest>