<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lxview">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LxView">
        <activity
            android:name=".home.HomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".loading.activity.IndicatorActivity" />
        <activity android:name=".myFreeView.ViewGroup.MyViewGroupActivity" />
        <activity android:name=".myFreeView.activity.ExOneActivity" />
        <activity android:name=".myFreeView.activity.SampleActivity" />
        <activity android:name=".listTimestamp.activity.ListTimeActivity" />
        <activity android:name=".timePicker.activity.TimePickerActivity" />
        <activity android:name=".function.home.activity.HomeFunctionActivity" />
        <activity android:name=".base.activity.SampleDialogAndPopActivity" />
        <activity android:name=".jetpack.navigation.MyNavigationActivity" />
        <activity android:name=".jetpack.MyJetPackActivity" />
        <activity android:name=".jetpack.lifecycle.MyLifeCycleActivity" />
        <activity android:name=".jetpack.livedata.MyLivedataActivity" />
        <activity android:name=".ipc.binder.AidlBinderActivity"/>
        <activity android:name=".ipc.messager.client.MessengerActivity"/>

        <service android:name=".RemoteService"
            android:enabled="true"
            android:exported="true"
            android:process=":remote">
        </service>

        <service android:name=".ipc.messager.service.MessengerService"
            android:enabled="true"
            android:exported="true"
            android:process=":remote">
        </service>
    </application>

</manifest>