<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sharelib">

    <application>

        <activity
            android:name=".ui.ShareDialogActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/dialogstyle"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name=".ui.ShareActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/dialogstyle"
            android:windowSoftInputMode="stateAlwaysHidden" />
    </application>

</manifest>